<%- include("./cabeceras/cabeceras.ejs") %>
<body>
  <h1>Pagina dinamica de altas en db</h1>
  <ul>
    <li><%= marca %></li>
    <li><%= modelo %></li>
    <li><%= descripcion %></li>
  </ul>
</body>